<section id="preloader">
  <div class="loader" id="loader">
    <div class="loader-img"></div>
  </div>
</section>

<div class="wrapper">
  <%= partial "nav" %>
  <%= partial "hero" %>
  <%= partial "about" %>
  <%= partial "works" %>
  <%= partial "action" %>
  <%= partial "footer" %>
  <a class="scroll-top">
    <i class="fa fa-angle-double-up"></i>
  </a>
</div>
